@{
    ViewData["Title"] = "Fridge";
}
<h1>@ViewData["Title"]</h1>
@{ 
    string[] ingredients = { "Vand", "Mælk", "Saftevand", "Cola" };
}

<label for="ingridiens">Vælg hvilke ingredienser du har tilgængelige til at lave drinks med</label>
<br/>
<select id="ingridiens">
<option> Vælg ingredienser</option>
<option> agurk</option>
</select>
<button>Tilføj ingrediens</button>
<br/>

<ul class="ingridiens">
    @foreach (string ingredient in ingredients) {
    <li>
    @ingredient</li>
    }
</ul>
<br /><br /><br />
<form>
    <button type="submit"> Opdater køleskab</button>
</form>
