@using Interdisciplinary.Models;
@model FridgeViewModel
@{
    ViewData["Title"] = "Fridge";
}
<h1>@ViewData["Title"]</h1>

<form action="" method="post" id="IngredientPicker">
    <label for="ingridiens">Vælg hvilke ingredienser du har tilgængelige til at lave drinks med</label>
    <br />
    <select id="ingridiens" name="ingredient">
        <option> Vælg ingredienser</option>
        @foreach (Ingredient ingredient in Model.Ingredients)
        {
            <option data-value='[{"name":"@ingredient.Name","id": "@ingredient.IngredientId"}]'>
                @ingredient.Name
            </option>
        }
    </select>
    <button type="submit">Tilføj ingrediens</button>
    <br />
</form>

<form asp-controller="Drinks" method="post" id="ChosenIngredients" asp-action="Index">
    <div class="chosen"></div>
    <button type="submit"> Opdater køleskab</button>
</form>

