@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>lorem ipsum  </p>
    <p> test test</p>
    <h2>Tester cocktails</h2>
</div>
<h1>Ingredienser</h1>
<p id="list" style="font-size: 15px; font-weight: bold;">
</p>

<button id="button" onclick="randomDrink()">click here</button>

<p id="drink" style="font-size: 24px; font-weight: bold; color: green;">
</p>

