

<div class="container">
    <div class="control">
        <br> <input class="button" autocomplete="off" type="text" id="input" placeholder="Enter names here"> <button class="button" id="addButton"> Add </button> <button class="button" id="shuffleButton"> Pick winner </button>
    </div>
    <div id="mother">

    </div>
    <div class="winner">
        <h3 class="winner_is">The victim is: <br> <span id="name"></span></h3>
    </div>
</div>

<script src="~/js/random.js" asp-append-version="true"></script>
