/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
a:hover {
color: #D56868 !important;
}


 a.text-dark:focus, a.text-dark:hover {
        background: white;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.navbar-brand{
    text-align:center;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}
.nav-item {
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-right: white 1px solid;
    width: 100%;
    text-align: center;
    background-color: black;
}
ul {
    display: flex;
    justify-content: space-between;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
body {
    color: white;
}
body {
    background-image: url("https://www.cdn.alt.dk/3e218e7ea295472b88c72856da6c406c/6698469aba934a6a9095be3433629901.jpg");
    background-position: center;
    background-size: cover;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
header{
    position: absolute;
    bottom: 0px;
    width:100%;
}
.form-inline {
    display: flex;
    justify-content: center;
}
.flex-grow-1 {
    flex-direction: row;
}

.ingridiens {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.chosen label::before {
    content: "✖";
    width: 10px;
    height: 10px;
}


.button, option{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background:black;
}

.button:hover {
        color: #000000;
        background-color: #FFFFFF;
    }

.drink-select {
    color: black;
    background-color: white;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}
.body {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.rubrik {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    z-index: 2;
    font-size: 1.5em;
}


/*DRINK RESULTS STYLING*/

.drinkSearchResult {
    background-color: rgba(0,0,0, 0.4);
}

.drinkSearchResult .drinkName {
    padding: 10px 20px;
}

.drinkSearchResult .ingredientWrapper {
    display: flex;
    flex-direction: column;
    padding-inline-end: 40px;
}

.drinkSearchResult .ingredientList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
