@*@model IEnumerable<string>*@
@model DrinksListViewModel


    @foreach (DrinkViewModel drink in Model.Drinks)
    {

<section class="drinkSearchResult">

    <h2 class="drinkName">
        @drink.DrinkName
    </h2>
    <ul class="ingredientWrapper">
        @foreach (DrinksToIngredients ingredient in drink.Ingredients)
        {
            <li class="ingredientList">
                <p class="ingredientName">
                    @ingredient.IngredientName
                </p>
                <p class="ingredientAmount">
                    @ingredient.Amount
                </p>
                
            </li>
        }


    </ul>
</section>

    }


