@*@model IEnumerable<string>*@
@model DrinksListViewModel


    @foreach (DrinkViewModel drink in Model.Drinks)
    {
        <p>

        @drink.DrinkName
        </p>
        <ul>
        @foreach(DrinksToIngredients ingredient in drink.Ingredients)
        {
            <li>

            @ingredient.IngredientName
            @ingredient.Amount
            </li>
        }


        </ul>

    }


