<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interdisciplinary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="Index"><svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.73 297"><path d="M265.49,72a10.06,10.06,0,0,0-7.2-17.11H209.41l37.7-37.7A10.07,10.07,0,0,0,232.87,3l-52,52H38.71A10.06,10.06,0,0,0,31.51,72L138.43,181.25v95.61H93.61a10.07,10.07,0,1,0,0,20.14H203.4a10.07,10.07,0,0,0,0-20.14H158.57V181.25Zm-67,39.63-50,51.1-50-51.1ZM234.34,75,218.23,91.49H172.82L189.27,75Zm-73.56,0L144.33,91.49H78.77L62.66,75Z" transform="translate(-28.64 0)" /></svg></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Random"><svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375.63 319.04"><path class="cls-1" d="M375.63,279.73l-78.88,67.6V302.26H283.47c-41.92,0-72.78-18.79-98.27-43.65,9.83-11.57,18.74-23.22,27-34.11l5.69-7.47c18.85,19.49,39.13,32.64,65.56,32.64h13.28V212.1ZM0,129.47H39.31c24.93,0,44.37,11.71,62.32,29.37,3-3.79,5.94-7.74,9-11.69,7.34-9.66,15.1-19.83,23.5-30C109.27,94,79.33,76.87,39.31,76.87H0ZM296.75,28.3V73.12H283.47c-69.37,0-108.49,51.42-143,96.8-31,40.75-57.85,76-101.16,76H0V298.5H39.31c69.38,0,108.5-51.39,143-96.77,31-40.79,57.85-76,101.15-76h13.28v37.84l78.88-67.63Z" transform="translate(0 -28.3)"/></svg></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Wheel"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 453.99 453.99"><path d="M242,263.21v99.63a136.14,136.14,0,0,0,70.4-29.23Z" /><path d="M212,362.84V263.21l-70.4,70.4A136.07,136.07,0,0,0,212,362.84Z" /><path d="M242,91.16v99.62l70.4-70.4A136,136,0,0,0,242,91.16Z" /><path d="M333.61,312.4A136.14,136.14,0,0,0,362.84,242H263.21Z" /><path d="M212,190.78V91.16a136,136,0,0,0-70.4,29.22Z" /><path d="M333.61,141.6,263.21,212h99.63A136.07,136.07,0,0,0,333.61,141.6Z" /><path d="M120.38,141.6A136,136,0,0,0,91.16,212h99.62Z" /><path d="M120.38,312.4l70.4-70.4H91.16A136,136,0,0,0,120.38,312.4Z" /><path d="M376.94,55.84A226.56,226.56,0,0,0,242,0V61a165.13,165.13,0,0,1,91.79,38Z" /><path d="M242,393v61a226.49,226.49,0,0,0,134.94-55.84L333.79,355A165.06,165.06,0,0,1,242,393Z" /><path d="M77.06,398.15A226.47,226.47,0,0,0,212,454V393a165.09,165.09,0,0,1-91.8-38Z" /><path d="M393,212h61A226.47,226.47,0,0,0,398.15,77.06L355,120.2A165.09,165.09,0,0,1,393,212Z" /><path d="M355,333.79l43.15,43.15A226.49,226.49,0,0,0,454,242H393A165.06,165.06,0,0,1,355,333.79Z" /><path d="M120.2,99A165.16,165.16,0,0,1,212,61V0A226.58,226.58,0,0,0,77.05,55.84Z" /><path d="M99,120.2,55.84,77.06A226.53,226.53,0,0,0,0,212H61A165.16,165.16,0,0,1,99,120.2Z" /><path d="M61,242H0A226.56,226.56,0,0,0,55.84,376.94L99,333.79A165.13,165.13,0,0,1,61,242Z" /></svg></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.14 512"><path d="M381.31,0H130.69A40.81,40.81,0,0,0,89.93,40.76V177.89H422.07V40.76A40.81,40.81,0,0,0,381.31,0ZM179.94,134.62H149.52V73.69h30.42Z" transform="translate(-89.93)" /><path d="M89.93,208.31V471.24A40.81,40.81,0,0,0,130.69,512H381.31a40.81,40.81,0,0,0,40.76-40.76V208.31Zm90,104.2H149.52V251.58h30.42Z" transform="translate(-89.93)" /></svg></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="text-center">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cocky Tails</a>
            <footer class="border-top footer text-muted text-center">
                <div class="container">
                    &copy; 2020 - Interdisciplinary
                </div>
            </footer>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
